<div *ngIf="showField">
  <form>
    <span uk-icon="icon: user; ratio: 1.5"></span>
    <div id="prefix">
      <input class="uk-input" type="text" formControlName="prefix" id="prefix" placeholder="prefix" />
    </div>
    <div id="firstName">
      <input class="uk-input" type="text" formControlName="firstName" id="firstName" placeholder="First Name" />
    </div>
    <div id="middleName">
      <input class="uk-input" type="text" formControlName="middleName" id="middleName" placeholder="Middle Name" />
    </div>
    <div id="lastName">
      <input class="uk-input" type="text" formControlName="lastName" id="lastName" placeholder="Last Name" />
    </div>
    <div id="suffix">
      <input class="uk-input" type="text" formControlName="suffix" id="suffix" placeholder="suffix" />
    </div>
    <div id="phoneticFirst">
      <input class="uk-input" type="text" formControlName="phoneticFirst" id="phoneticFirst"
        placeholder="Phonetic First" />
    </div>
    <div id="phoneticMiddle">
      <input class="uk-input" type="text" formControlName="phoneticMiddle" id="phoneticMiddle"
        placeholder="Phonetic MiddleName" />
    </div>
    <div id="phoneticLast">
      <input class="uk-input" type="text" formControlName="phoneticLast" id="phoneticLast"
        placeholder="Phonetic Last" />
    </div>
    <div id="nickName">
      <input class="uk-input" type="text" formControlName="nickName" id="nickName" placeholder="Nickname" />
    </div>
    <div id="fileAs">
      <input class="uk-input" type="text" formControlName="fileAs" id="fileAs" placeholder="File As" />
    </div>




  </form>
</div>